<div class="main_features">
    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="titles">
                    <h1 class="text-capitalize bigFont" data-scroll-reveal="wait 0.45s, then enter top and move 80px over 1s">{{title}}</h1>
                    <p data-scroll-reveal="wait 0.45s, then enter left and move 80px over 1s">{{subtitle}}</p>
                </div>
            </div>
            <div class="row">
                <div class="features">
                    <a href="{{feature1_link}}" class="btn btns white_background section_color fadeInDown">{{feature1}}</a>
                    <a href="{{feature2_link}}" class="btn btns section_background_color white fadeInLeft">{{feature2}}</a>
                    <a href="{{feature3_link}}" class="btn btns black_background white fadeInRight">{{feature3}}</a>
                </div>
            </div>
        </div>
    </div>
</div>
