ol,ul
{
	list-style:none;
	margin:0px;
	padding:0px;
}

body
{
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

a
{
	color: #000000;
}

h1
{
	font-size: 3em;
	color: #FFFFFF;
	text-align: center;
	margin-top: 0.7em;
}

h3
{
	font-size: 30px;
	margin: 10px 0;
	letter-spacing: 2px;
	font-weight: bold;
}

h4
{
	color: #444444;
	font-size: 30px;
	margin-bottom: 20px;
}

b
{
	font-size: 15px;
	font-weight: 600;
}

ul.clip-details-text li:nth-child(1)
{
	width: 50%;
}
ul.clip-details li ul.clip-details-text li
{
	float: left;
	font-size: 0.95em;
	margin-top: 0.9em;
	font-weight: 100;
	text-align: center;
}
ul.clip-details
{
	text-align: left;
}

span.w3
{
	margin-left: 40px;
	font-style: italic;
}

.clip_background
{
	padding: 3em 0 1em 0;
	width: 100%;
	text-align: center;
	position: relative;
	background: linear-gradient( to left, #21b063, #90D7B1 );
}
.clip_background h1
{
	margin: 0em 0 1em 0;
	font-size: 2.8em;
	color: #FFFFFF;
	text-transform: uppercase;
	line-height: 1.2em;
	position: relative;
	letter-spacing: 5px;
	font-weight: 400;
}

.clip_statistic h4
{
	font-size: 20px;
	margin-top: 15px;
	font-style: italic;
	color: #444444;
	text-align: center;
}

.clip_information
{
	background: #fff;
	max-width:600px;
	margin:0 auto;
	padding:2em;
}

.clip-pic
{
	text-align: center;
}
.clip-pic img
{
	border:4px solid #11B771;
	border-radius: 82px;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	width: 600px;

}
.clip-pic h2
{
	font-size: 2em;
	color:#90D7B1;
	margin-bottom:0.1em;
}
.clip-pic p
{
	font-size: 1em;
	color:#000000;
	font-style:italic;

}

.clip-ser
{
	margin-top: 30px;
}
.clip-ser h3
{
	margin-bottom: 20px;
}

.statistics_container
{
	float: left;
	width: 33%;
}

.circlechart
{
	margin: auto;
	width: 50%;
}

.clear
{
	clear:both;
}

.w3ls-agile-left-info
{
	display: flex;
	padding: 0.2em;
	margin-bottom: 10px;
}
.w3ls-agile-left-info h4, .social-info h4
{
	font-size: 1em;
	color: #444444;
	flex-basis: 45%;
	font-weight: 600;
	margin-right: 25px;
}

@media screen and ( max-width: 480px )
{
	.clip-pic img
	{
		width: 300px;
	}

	.clip_information
	{
		margin: 0 3vw;
	}
}

@media screen and ( max-width: 414px )
{
	.clip-pic img
	{
		width: 300px;
	}

	.clip_background h1
	{
		font-size: 2.3em;
	}
	span.w3
	{
		margin-left: 15px;
		font-style: italic;
	}
}

@media screen and ( max-width: 384px )
{
	.clip-pic img
	{
		width: 300px;
	}

	.statistics_container
	{
		float: left;
		width: 50%;
	}
	span.w3
	{
		margin-left: 2px;
		font-style: italic;
	}
}

@media screen and ( max-width: 320px)
{
	.clip-pic img
	{
		width: 300px;
	}

	.clip_background h1
	{
		font-size: 1.7em;
	}
}
