@charset "utf-8";
html
{
    overflow-y:scroll;
    overflow-x:hidden;
}

html, body
{
    margin:0;
    padding:0;
    font-size:14px;
    line-height:1.6em;
}

body, input, textarea, select
{
    font-family:Verdana, Geneva, sans-serif;
}

h1, h2, h3, h4, h5, h6
{
    font-family:Georgia, "Times New Roman", Times, serif;
    margin:0 0 20px 0;
    font-size:22px;
    line-height:normal;
    font-weight:normal;
    text-transform:uppercase;
}

a
{
    outline:none;
    text-decoration:none;
}

img
{
    width:auto;
    max-width:100%;
    height:auto;
    margin:0;
    padding:0;
    border:none;
    line-height:normal;
    vertical-align:middle;
}

form, fieldset, legend
{
    margin:0;
    padding:0;
    border:none;
}

legend
{
    display:none;
}

label, input, textarea, select, button
{
    display:block;
    resize:none;
    outline:none;
    color:inherit;
    font-size:inherit;
    font-family:inherit;
    vertical-align:middle;
}

label
{
    margin-bottom:5px;
}

address, article, aside, figcaption, figure, footer, header, main, nav, section
{
    display:block;
    margin:0;
    padding:0;
}

address
{
    font-style:normal;
    font-weight:normal;
}

hr
{
    display:block;
    width:100%;
    height:1px;
    border:solid;
    border-width:1px 0 0 0;
}

*, *::before, *::after
{
    box-sizing:border-box;
}

:required, :invalid
{
    outline:none;
    box-shadow:none;
}
