@charset "utf-8";
@import url("https://www.hedude.com/stylesheets/widths.css");
@import url("https://www.hedude.com/stylesheets/spaces.css");

.bold
{
    font-weight:bold;
}
.center
{
    text-align:center;
}
.right
{
    text-align:right;
}
.uppercase
{
    text-transform:uppercase;
}
.capitalise
{
    text-transform:capitalize;
}
.hidden
{
    display:none;
}
.block
{
    display:block;
}
.inline *
{
    display:inline-block;
}
.inline *:last-child
{
    margin-right:0;
}
.pushright li
{
    margin-right:20px;
}
.pushright li:last-child
{
    margin-right:0;
}
.borderedbox
{
    border:1px solid;
}
.overlay
{
    position:relative; z-index:1;
}
.overlay::after
{
    display:block;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    content:"";
    z-index:-1;
}
.backgroundofoverlay
{
    background-position:top center;
    background-repeat:no-repeat;
    background-size:cover;
}
.circle
{
    border-radius:50%;
    background-clip:padding-box;
}

.btn
{
    display:inline-block;
    padding:10px 20px 12px;
    text-transform:uppercase;
    border:1px solid;
}

.clear, .group
{
    display:block;
}
.clear::before, .clear::after, .group::before, .group::after
{
    display:table;
    content:"";
}
.clear, .clear::after, .group, .group::after
{
    clear:both;
}

.fl_left, .imgl
{
    float:left;
}
.fl_right, .imgr
{
    float:right;
}

.imgl
{
    margin:0 15px 10px 0;
    clear:left;
}
.imgr
{
    margin:0 0 10px 15px;
    clear:right;
}

.heading
{
    font-family:Georgia, "Times New Roman", Times, serif;
    margin:0 0 20px 0;
    font-size:22px;
    line-height:normal;
    font-weight:normal;
    text-transform:uppercase;
}

.font-xs
{
    font-size:.8rem;
}
.font-x1
{
    font-size:1.2rem;
}
.font-x2
{
    font-size:1.8rem;
}
.font-x3
{
    font-size:2.8rem;
}

.wrapper
{
    display:block;
    width:100%;
    margin:0;
    padding:0;
    text-align:left;
    word-wrap:break-word;
}

.hoc
{
    display:block;
    margin:0 auto;
}

.first
{
    margin-left:0;
    clear:left;
}
