@charset "utf-8";
.font-xs
{
    font-size:.8rem;
}
.font-x1
{
    font-size:1.2rem;
}
.font-x2
{
    font-size:1.8rem;
}
.font-x3
{
    font-size:2.8rem;
}

@media screen and (max-width:650px)
{
	.font-x2
	{
		font-size:1.4rem;
	}
	.font-x3
	{
		font-size:1.6rem;
	}
}
