.he_image_sequence
{
	padding:30px 0;
}
.he_image_sequence li
{
	float:left; width:16%; margin-left:5%;
}
.he_image_sequence li:first-child
{
	margin-left:0;
}
.he_image_sequence li img
{
	opacity:.5;
}
.he_image_sequence li:hover img
{
	opacity:1;
}
