@charset "utf-8";
.one_half, .one_third, .two_third, .one_quarter, .two_quarter, .three_quarter
{
    display:inline-block;
    float:left;
    margin:0 0 0 3.06748466257669%;
    list-style:none;
}

.one_quarter
{
    width:22.69938650306748%;
}
.one_third
{
    width:31.28834355828221%;
}
.one_half, .two_quarter
{
    width:48.46625766871166%;
}
.two_third
{
    width:65.6441717791411%;
}
.three_quarter
{
    width:74.23312883435584%;
}
.first
{
    margin-left:0;
    clear:left;
}
